/* .App {
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: linear-gradient(79deg, #7439db, #C66FBC 48%, #F7944D);
  } */
  .auth-form-container {
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
    background: linear-gradient(180deg, #EE8A5E 0%, #595959 100%);
  }

  .log-reg-title {
    color: white;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  .auth-form-container, .login-form, .register-form {
    display: flex;
    flex-direction: column;
  }
  
  @media screen and (min-width: 1000px) {
    .auth-form-container {
      padding: 5rem;
      border: 1px solid white;
      /* border-radius: 10px; */
    }
  }
  
  label {
    text-align: left;
    padding: 0.25rem 0;
  }
  
  input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    width: 20rem;
  }
  
  .reg-log-btn {
    border: none;
    margin-top: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: #eb6a32;
  }

  #submit {
    font-weight:bold;
    font-size: medium;
  }
  
  .link-btn {
    margin-top: 1rem;
    background: none;
    color: white;
    text-decoration: underline;
  }