@media screen and (min-width: 1000px){
    .plan {
        text-align: center;
        display: flex;
        flex-direction: column;
        min-height: 50vh;
        align-items: center;
        justify-content: center;
        color: white;
        background-size: 50%;
        background-image: linear-gradient(to right, rgba(249, 113, 54, .8), rgba(0, 0, 0, .8)), url("../../../../../Desktop/TFCGymWeb/frontend/public/assets/img/bg_plan.jpg");
        background-size: cover, contain;
        background-position: center, left top;
        background-repeat: no-repeat, repeat;
    }
}

#plans-table{
    text-align: center;
    /* display: flex; */
    min-height: 100vh;
    align-items:center;
    justify-content: center;
    color: white;
}

.change-page-btn {
    border: none;
    margin-top: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    background-color: #eb6a32;
    width: 60rem;
    font-size: 2rem;
    font-weight: bold;
}
