.about-column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.about-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.about-section {
    padding: 50px;
    text-align: center;
    color: white;
}

.about-container {
    padding: 0 16px;
}

.about-container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.about-title {
    color: white;
}
.about-container p,h2{
    color: white;
}
/*.button {*/
/*    border: none;*/
/*    outline: 0;*/
/*    display: inline-block;*/
/*    padding: 8px;*/
/*    color: white;*/
/*    background-color: #000;*/
/*    text-align: center;*/
/*    cursor: pointer;*/
/*    width: 100%;*/
/*}*/

/*.button:hover {*/
/*    background-color: #555;*/
/*}*/

/*@media screen and (max-width: 650px) {*/
/*    .column {*/
/*        width: 100%;*/
/*        display: block;*/
/*    }*/
/*}*/