.confirmation {
    text-align: center;
    border-collapse: collapse;
    border: dashed 3px white;
    color: white;
    padding:2%;
    font-family: "Libre Baskerville", serif;
    border-radius: 20px;
    margin: 5% 10%;
    font-size: 1.2rem;
    font-weight: bold;
}
.classDates{
    text-align: center;
}
.success,.error{
    color: white;
    font-size: 45px;
    font-weight: normal;
    line-height: 40px;
    width: 30%;
    display: inline-block;
    justify-content: center;
 }
.confirmation ul{
    display: inline-block;
    text-align: left;
    margin: 0 0;
}
.confirmation ul li{

    text-align: left;
    margin: 10px 0;
}

button.back {
    background: linear-gradient(to bottom right,orange, darkgrey);
    border: 0;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    margin:2%;
}
.confirmation{
    color: white;
}